body{
    
    margin: 0;

}

header{
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #172645;
    border-bottom: #ffce00 3px solid ;
    display: flex;
    z-index: 100;
   
  
}

footer{
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
   
    background-color: #162644;
    z-index: 100;
    align-content: center;
    margin: 0;
}

footer h1{

    border-top: solid rgb(34, 92, 201) 2px ;
    text-align: center;
    width: 500px;
    height: auto;
    
    margin-left: 35%;
    color: #f8f8f8;
    
   
   
}

header img{

    width:250px;
    height: auto;
    margin: 1rem 5rem;
}

header h1{
    position: absolute;
   left: 20%;
   top: 20%;
    margin-left: 10%;
    color: #ffff;
    width: 800px;
    height: 50px;
    text-align: center;
    
    font-size: 25px;
    padding-bottom:0%;
    text-shadow: 2px 1px 2px black;
}

.cuerpo{
    position: relative;
  
    background-color: #f8f8f8;
    width: 100%;
    height:800px;
    display: flex;

    align-content: center;
    border: #162644 solid 1px;
    
}


.cuerpo #seccion-cuerpo{
 
  margin: 7rem 3rem;
  width: 100%;
  height: auto;

background: #394150;
  align-content: center;
  border: #162644 solid 1px;
  
 

}

.cuerpo #cuerpo-menu{

   
    margin-left: 150px;
    width: 620px;
    height: 571px;
    float: left;
    align-content: center;;
    background-color:  #2f2f2f;
    
   
}
.cuerpo #cuerpo-menu h1{

    margin-top: 10%;
    color: #ffff;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;

}
.cuerpo #cuerpo-menu button{


    align-items: center;
    margin-left: 26%;
    width: 300px;
    height: auto;
   
    border-radius: 20px;
    background-color:#30389b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f8f8f8;
    font-size: 20px;


}

 .cuerpo #cuerpo-menu button:hover{

    background-color:#f8f8f8;
    color: #30389b;
   
}

.cuerpo #cuerpo-imag{
 
 margin-left:10px;
 margin-right:0px;
 margin-top: 150px;
 
 width: 480px;
 height: 566px;
 margin: auto;

 border-radius: 90%;
 border-style:hidden;
 float: left;
 background-image: url("IMG/pngegg\ \(10\).png");
 z-index: -1;
 
 

}
.cuerpo #cuerpo-menu form{
   margin-top: 20px;
    align-items: center;
    margin-left: 26%;

}
.cuerpo #cuerpo-menu form input{
    margin-top: 5px;
     align-items: center;
     margin-left: 10%;
     width: 200px;
     
    border-radius: 20px;
    background: #2740ce;
    color: #f8f8f8;
    font-size: 20px;
 }
 
 

#cuerpo-imag #img{
    margin-top:300px;
    width: 90%;
    margin: auto;
    
    
  
   
    
}
