
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --background-color: #F8F8FA;
    --background-color-second: white;


    --font-family: "Roboto", sans-serif;


    --color-text: #404550;
    --color-border-dashed: #4045505f;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: var(--font-family);
}


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .upload{
    width: 60%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color-second);
}

.container .upload h1{
    font-weight: 300;
    color: var(--color-text);
}

.container .upload .uploadFile{
    width: 70%;
    height: 50%;
    border-radius: 10px;
    background-color: var(--background-color);
    border: 2px dashed var(--color-border-dashed);
    cursor: pointer;
}
.uploadFile.dragover {
    background-color: #f0f0f0;
}
